In [1]:
import pandas as pd
import os
import sys
dir_current = os.getcwd()
dir_bases = os.path.join(dir_current, 'bases')

In [2]:
print(dir_current)
print(dir_bases)

C:\Users\fabianoberaldi\OneDrive - BRQ\Itau\provinha
C:\Users\fabianoberaldi\OneDrive - BRQ\Itau\provinha\bases

### Importar o conjunto de dados presentes na pasta **"bases"**

In [3]:
file_airbnb = os.path.join(dir_bases, 'airbnb_ny_2019.csv')
file_map_vizinhanca = os.path.join(dir_bases,'mapeamento_vizinhanca.csv')

#### Obter dados Airbnb

In [4]:
df_airbnb = pd.read_csv(file_airbnb)
df_airbnb.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [5]:
#Obter informações do DataFrame
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49395 entries, 0 to 49394
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              49395 non-null  int64
 1   name                            49379 non-null  object
 2   host_id                         49395 non-null  int64
 3   host_name                       49373 non-null  object
 4   neighbourhood                   49395 non-null  object
 5   latitude                        49395 non-null  float64
 6   longitude                       49395 non-null  float64
 7   room_type                       49395 non-null  object
 8   price                           49395 non-null  int64
 9   minimum_nights                  49395 non-null  int64
 10  number_of_reviews               49395 non-null  int64
 11  last_review                     39237 non-null  object
 12  reviews_per_month               39237 non-null  float64
 13  calculated_host_listings_count  49395 non-null  int64
 14  availability_365                49395 non-null  int64
dtypes: float64(3), int64(7), object(5)
memory usage: 5.7+ MB

##### Base Airbnb: remover linhas duplicadas

In [6]:
#Verificar qtd de linhas duplicadas
print(f'Base Airbnb -> Linhas duplicadas: {df_airbnb.duplicated().sum()}')

Base Airbnb -> Linhas duplicadas: 500

In [7]:
#remover linhas duplicadas
df_airbnb.drop_duplicates(inplace=True)

In [8]:
#Verificar qtd de linhas duplicadas
print(f'Base Airbnb -> Linhas duplicadas: {df_airbnb.duplicated().sum()}')

Base Airbnb -> Linhas duplicadas: 0

##### Base Airbnb: remover linhas com valores nulos

In [9]:
#Verificar qtd de linhas com valores nulos (nome da coluna : qtd linhas com valores nulos)
df_airbnb.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [10]:
#remover linhas com valores nulos
df_airbnb.dropna(inplace=True)

In [11]:
#Verificar qtd de linhas com valores nulos (nome da coluna : qtd linhas com valores nulos)
df_airbnb.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

#### Obter dados Mapeamento Vizinhança

In [12]:
df_vizinhanca = pd.read_csv(file_map_vizinhanca,sep=";")
df_vizinhanca.head()

  vizinhanca_grupo      vizinhanca
0            Bronx   Schuylerville
1            Bronx     Parkchester
2            Bronx      Co-op City
3            Bronx       Soundview
4            Bronx  Williamsbridge

##### Base Mapeamento Vizinhança: remover linhas duplicadas

In [13]:
#Verificar qtd de linhas duplicadas
print(f'Base Mapeamento Vizinhança -> Linhas duplicadas: {df_vizinhanca.duplicated().sum()}')

Base Mapeamento Vizinhança -> Linhas duplicadas: 0

*Não existem linhas duplicadas neste DataFrame

##### Base Mapeamento Vizinhança: remover linhas com valores nulos

In [14]:
#Verificar qtd de linhas com valores nulos (nome da coluna : qtd linhas com valores nulos)
df_vizinhanca.isna().sum()

vizinhanca_grupo    0
vizinhanca          0
dtype: int64

*Não existem linhas duplicadas neste DataFrame

### Juntar bases, remover colunas não desejadas e renomear coluna

Juntar as **bases airbnb_ny_2019** e **mapeamento_vizinhanca** através de um join (**neighbourhood** <-> **vizinhanca**)

In [15]:
df_join = df_airbnb.merge(df_vizinhanca, left_on='neighbourhood', right_on='vizinhanca')

In [16]:
df_join.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,vizinhanca_grupo,vizinhanca
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,Brooklyn,Kensington
1,63546,Large and Cozy Private Bedroom,308652,Antonín,Kensington,40.64106,-73.97426,Private room,39,1,45,2019-05-16,0.46,2,365,Brooklyn,Kensington
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,Antonín,Kensington,40.64302,-73.97255,Private room,39,1,82,2019-05-19,0.94,2,365,Brooklyn,Kensington
3,267652,Private clean pleasant spacious room.,164675,Janice,Kensington,40.64277,-73.97296,Private room,60,2,20,2019-01-21,0.42,1,347,Brooklyn,Kensington
4,282341,Kensington/Ditmas Park pied-a-terre,1471384,Dan,Kensington,40.64330,-73.97386,Entire home/apt,90,30,3,2017-07-30,0.05,1,286,Brooklyn,Kensington

Remover a coluna **vizinhanca** após o join

In [17]:
#colunas existentes
df_join.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'vizinhanca_grupo', 'vizinhanca'],
      dtype='object')

In [18]:
#remover coluna 'vizinhanca'
df_join.drop(columns=['vizinhanca'], inplace=True)

In [19]:
#colunas existentes
df_join.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'vizinhanca_grupo'],
      dtype='object')

Trocar o nome da coluna de **vizinhanca_grupo** para **neighbourhood_group**

In [20]:
#colunas existentes
df_join.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'vizinhanca_grupo'],
      dtype='object')

In [21]:
#renomear coluna 'vizinhanca_grupo' para 'neighbourhood_group'
df_join.rename(columns={'vizinhanca_grupo':'neighbourhood_group'}, inplace=True)

In [22]:
#colunas existentes
df_join.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'neighbourhood_group'],
      dtype='object')

### Filtrar registros, exportar bases

Filtre a coluna **neighbourhood_group** e mantenha apenas os valores **'Brooklyn'**, **'Manhattan'**, **'Queens'**, **'Staten Island'**

In [23]:
#valores de neighbourhood_group existentes
df_join['neighbourhood_group'].drop_duplicates()

0             Brooklyn
140          Manhattan
24272           Queens
29923    Staten Island
29958            Bronx
Name: neighbourhood_group, dtype: object

In [24]:
#filtro de valores em neighbourhood_group
filtro = df_join['neighbourhood_group'].isin(['Brooklyn','Manhattan','Queens','Staten Island'])

In [25]:
filtro

0        True
1        True
2        True
3        True
4        True
         ...
38816    True
38817    True
38818    True
38819    True
38820    True
Name: neighbourhood_group, Length: 38821, dtype: bool

In [26]:
#criar um DataFrame somente com os valores filtrados
df_filtrados = df_join.loc[filtro]

In [27]:
#verificar valores em 'neighbourhood_group'
df_filtrados['neighbourhood_group'].drop_duplicates()

0             Brooklyn
140          Manhattan
24272           Queens
29923    Staten Island
Name: neighbourhood_group, dtype: object

Após todos os filtros mencionados acima, gere uma base chamada **residencias.csv**

In [28]:
#gerar base 'residencias.csv'
df_filtrados.to_csv('residencias.csv', index=False)

In [29]:
#criar um dataframe a partir da base 'residencias.csv'
df_residencias = pd.read_csv('residencias.csv')
df_residencias.head()

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group
0,2539,Clean & quiet apt home by the park,2787,John,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,Brooklyn
1,63546,Large and Cozy Private Bedroom,308652,Antonín,Kensington,40.64106,-73.97426,Private room,39,1,45,2019-05-16,0.46,2,365,Brooklyn
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,Antonín,Kensington,40.64302,-73.97255,Private room,39,1,82,2019-05-19,0.94,2,365,Brooklyn
3,267652,Private clean pleasant spacious room.,164675,Janice,Kensington,40.64277,-73.97296,Private room,60,2,20,2019-01-21,0.42,1,347,Brooklyn
4,282341,Kensington/Ditmas Park pied-a-terre,1471384,Dan,Kensington,40.64330,-73.97386,Entire home/apt,90,30,3,2017-07-30,0.05,1,286,Brooklyn

A partir da base **residencias.csv**, gere também uma base **media_preco.csv** com a média de preços por tipo de quarto (coluna room_type) e grupo do bairro (coluna neighbourhood_group)

In [30]:
df_media_preco = df_residencias[['neighbourhood_group','room_type','price']].groupby(['neighbourhood_group','room_type'], as_index=False).mean()

In [31]:
df_media_preco

   neighbourhood_group        room_type       price
0             Brooklyn  Entire home/apt  171.281897
1             Brooklyn     Private room   73.349562
2             Brooklyn      Shared room   45.458621
3            Manhattan  Entire home/apt  230.200964
4            Manhattan     Private room  106.607488
5            Manhattan      Shared room   77.980337
6               Queens  Entire home/apt  139.225603
7               Queens     Private room   69.302838
8               Queens      Shared room   64.467105
9        Staten Island  Entire home/apt  125.366667
10       Staten Island     Private room   57.584906
11       Staten Island      Shared room   57.600000

In [32]:
#criar a base 'media_preco.csv'
df_media_preco.to_csv('media_preco.csv', index=False)

In [33]:
#obter o DataFrame da base 
pd.read_csv('media_preco.csv')

   neighbourhood_group        room_type       price
0             Brooklyn  Entire home/apt  171.281897
1             Brooklyn     Private room   73.349562
2             Brooklyn      Shared room   45.458621
3            Manhattan  Entire home/apt  230.200964
4            Manhattan     Private room  106.607488
5            Manhattan      Shared room   77.980337
6               Queens  Entire home/apt  139.225603
7               Queens     Private room   69.302838
8               Queens      Shared room   64.467105
9        Staten Island  Entire home/apt  125.366667
10       Staten Island     Private room   57.584906
11       Staten Island      Shared room   57.600000